
body{
  padding: 0;
  font-size: 18px;
  font-family:"open sans", sans-serif;
  line-height: 1.66;
  top: 0;
  margin-bottom: 0;
}
h1, h3, h4{
  color: $titleColor;
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
  //padding-top: 45px;
  font-weight: bold;
}
h2{
  font-size: 35px;
  text-align: center;
  color: #1a1a1a;
  padding: 10px;
}
a{
  text-decoration: none;
  font-size: 16px;
}
P{
  text-align: justify;
}
.home-section{
  width: $width;
  background-image: url("../images/design-background.png");
  background-size: cover;
  padding-top: 300px;
  height: 900px;
}
.home-section h1, h2{
  text-align: center;
}
.container-profil-img{
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.container-profil-img img{
  width: 100%;
  height: 100%;
  border-radius: 200px;
  border: solid white;
}
.container-profil-github{
  text-align: center;
  color: white;
}
.container-profil-github p{
  color: black;
}
.line{
  width: 50%;
  align-content: center;
  margin: 0 auto;
}
.clic{
  background-color: #1b6d85;
}

/************************************************** Experiences ************************************************************/

.experiences-section{
  padding-top: $sectPaddingTop;
  min-height: 700px;
  //background-color: #d4d8e2;
  background-color: white;
  padding-bottom: 45px;

}
.experiences h4{
  font-size: 22px;
  text-align: center;
}
.experiences_bloc{
  margin-top: 100px;
}
.experiences-section p{
  font-size: 14px;
  text-align: center;
}
.col1{
  border-style:solid;
  border-color: #999999;
  border-width: 1px;
  min-height: 350px;
  margin-bottom: 50px;
}
.icons{
  width: 130px;
  font-size: 60px;
  background-color: #d9d9d9;
  height: 110px;
  margin-top: -50px;
  margin-left: 60px;
  color: #82c434;
  padding: 5px 30px;
}


/************************************************** réalisations ************************************************************/

.realisations_1{
  width: 270px;
  height: 200px;
  background-image: url("../images/site_restaurant.png");
  background-size: cover;
}
.realisations_2{
  width: 270px;
  height: 200px;
  background-image: url("../images/site_portfolio.png");
  background-size: cover;
}
.realisations_3{
  width: 270px;
  height: 200px;
  /*background-image: url("../images/entitie.png");*/
  background-image: url("../images/Portfolio_responsive.png");
  background-size: cover;
}
.realisations_4{
  width: 270px;
  height: 200px;
  background-color: black;
}
.realisations_row{
  padding-bottom: 20px;
  background: #31b0d5;
}
/************************************************** All articles style ************************************************************/

.articles_image{
  width: 200px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.all_article_bloc{
  padding-bottom: 45px;
}
.all_article{
  padding-top: 50px;
  background-image: url("../images/bg_show_article.jpg");
  min-height: 600px;
}

.contact-section {
  width: 100%;
  min-height: 600px;
  padding-top: 100px;
  text-align: center;
  background:silver!important;
  margin-bottom: 0;
  color: white;
  padding-bottom: 45px;
}
.contact_form{
  background: #333333;
  height: 500px;
  padding: 20px;
  margin-bottom: 10px;
}
.contact_form p{
  font-size: 18px;
}
.container_iframe{
  height: 500px;
  background-color:#333333;
}
iframe{
  padding-top: 40px;
}
/************* Media screen ***********/

@media (min-width: 992px) and (max-width: 1200px){
  .realisations_1{
    width: 100%;
    height: 200px;
    background-image: url("../images/site_restaurant.png");
    background-size: cover;
  }
  .realisations_2{
    width: 100%;
    height: 200px;
    background-image: url("../images/site_portfolio.png");
    background-size: cover;
  }
  .realisations_3{
    width: 100%;
    height: 200px;
    background-image: url("../images/Portfolio_responsive.png");
    background-size: cover;
  }
  .realisations_4{
    width: 100%;
    height: 200px;
    background-color: black;
  }
  .articles_image{
    width: 200px;
  }
  .side{
    display: none;
  }
  .all_article_bloc{
    padding-bottom: 45px;
    padding-top: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .navbar-custom{
    margin-top: 0;
  }
  .col1{
    border-style:solid;
    border-color: #999999;
    border-width: 1px;
    min-height: 350px;
    margin-bottom: 60px;
  }
  .icons{
    width: 130px;
    font-size: 60px;
    background-color: #d9d9d9;
    height: 110px;
    margin: 0 auto;
    margin-top: -50px;
    color: #82c434;
    padding: 5px 35px;
  }
  .articles_image{
    width: 200px;
  }
  .side{
    display: none;
  }
  .articles_bloc{
    display: block;
  }
  .all_article_bloc{
    padding-bottom: 45px;
    padding-top: 150px;
  }
  .img_autor{
    display: none;
  }
}

@media (min-width: 468px) and (max-width: 767px){
  .navbar-custom{
    margin-top: 0;
  }

  .realisations_1{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-image: url("../images/site_restaurant.png");
    background-size: cover;
  }
  .realisations_2{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-image: url("../images/site_portfolio.png");
    background-size: cover;
  }
  .realisations_3{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-image: url("../images/Portfolio_responsive.png");
    background-size: cover;
  }
  .realisations_4{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: black;
  }
  .articles_image{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .content_articles{
    display: block;
  }
  .articles_bloc{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .side{
    display: none;
  }
  .col1{
    border-style:solid;
    border-color: #999999;
    border-width: 1px;
    min-height: 350px;
    margin-bottom: 60px;
  }
  .icons{
    width: 130px;
    font-size: 60px;
    background-color: #d9d9d9;
    height: 110px;
    //margin-top: -50px;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    //margin-left: 300px;
    color: #82c434;
    padding: 5px 30px;
  }
}
