
{% block body %}
<section id="contact" class="contact-section">
    <h1>Contact </h1>
    <div class="container-fluid">
        <div class="row">

            {#....................... Include Contact form ...............#}

            {% include '@Portfolio/Default/formulaires/contact_form.html.twig' %}

            {#....................... Ifram .......................................#}

            <div class="col-sm-12 col-md-6">
                <div class="container_iframe">
                    <div class="container-fluid">
                        <div class="col-sm-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22630.145647098092!2d-0.5828454300762228!3d44.846653662288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5526320ac42e31%3A0x414cca4ece802d4a!2sLe+Caf%C3%A9+du+Port!5e0!3m2!1sfr!2sfr!4v1519531828069" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}